.expences {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75vw;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expences_card {
  background-color: white;
  width: 95%;
  height: 95%;
  border-radius: 30px;
  overflow-y: scroll;
  display: flex;
}

.expences_overview {
  width: 65%;
  padding: 5rem;

  padding-top: 20px;

  padding-bottom: 13px;

  // overflow-y: scroll;
}
// .expences_overview::-webkit-scrollbar {
//   display: none;
// }

.expences_header {
  display: flex;
  justify-content: space-between;
}

.expences_title {
  font-size: 40px;
  font-weight: 500;
}

.expences_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person_one {
  position: relative;
  left: -66%;
  z-index: 3;
}
.person_two {
  position: relative;
  left: -82%;
  z-index: 2;
}
.person_three {
  position: relative;
  left: -96%;
  z-index: 1;
}

.add_icon {
  cursor: pointer;
  margin-left: -6.5rem;
}

.date {
  margin-top: 1rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.expences_overview_header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #dedede;
}

.expences_overview_title {
  font-size: 18px;
  font-weight: 500;
}
.expense_option {
  cursor: pointer;
}

.expense_item {
  margin: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense_item_left {
  display: flex;
  align-items: center;
}

.expense_item_div {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.expense_item_details {
  margin-left: 1rem;
}

.expense_item_title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.expense_item_time {
  opacity: 0.5;
}

.expense_item_price {
  font-weight: 600;
}

.money_overview {
  width: 65%;
  border-color: #f9fafc;
  border-radius: 0 50px 50px 0;
  // padding: 5rem 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 25px;
}

.money_overview_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.spent_category {
  display: flex;
  justify-content: space-around;
}

.spent_category_name {
  font-weight: 500;
}

.spent_category_bar {
  height: 5px;
  width: 100%;
  background-color: #eceff5;
  position: relative;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.spent_category_colored_bar {
  height: 5px;
  background-color: #31ba96;
  position: absolute;
  border-radius: 5px;
}

.save_money_div {
  width: 70%;
  margin: 0 auto;
  background-color: #edf0f6;
  padding: 1rem;
  border-radius: 15px;
  padding-top: 1px;
  margin-top: 2rem;

  padding-bottom: 3px;
  position: relative;
}

.boxes {
  position: absolute;
  left: -50px;
  top: -4px;
  opacity: 0.8;
}

.pot {
  position: absolute;
  top: -31px;
  left: 187px;
}

.save_money_title {
  font-weight: 600;
  margin-top: 4rem;
}

.save_money_info {
  opacity: 0.7;
  margin-top: 0.5rem;
  line-height: 21px;
  letter-spacing: 0.428571px;
}

.button {
  cursor: pointer;
  background-color: #101010;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 1.5px;
  padding: 1rem 3rem;
  // margin-top: 1.5rem;
  margin: 4px auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
